
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Coursify</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
            <li class="active"><a href="/">Home</a></li>
            {{else}}
                <li><a href="/">Home</a></li>
            {{/if}}

            {{#if isCourses}}
                <li class="active"><a href="/courses">Courses</a></li>
            {{else}}
                <li><a href="/courses">Courses</a></li>
            {{/if}}

            {{#if isAdd}}
                <li class="active"><a href="/add">Add course</a></li>
            {{else}}
                <li><a href="/add">Add course</a></li>
            {{/if}}
            {{#if isCart}}
                <li class="active"><a href="/cart"> <i class="large material-icons">shopping_cart</i></a></li>
            {{else}}
                <li><a href="/cart"><i class="large material-icons">shopping_cart</i></a></li>
            {{/if}}

        </ul>
    </div>
</nav>


<!--<ul class="sidenav" id="mobile-demo">-->
<!--    <li><a href="sass.html">Sass</a></li>-->
<!--    <li><a href="badges.html">Components</a></li>-->
<!--    <li><a href="collapsible.html">Javascript</a></li>-->
<!--    <li><a href="mobile.html">Mobile</a></li>-->
<!--</ul>-->